{% extends "album/layout2.html" %}
{% load static %}
 {% block body %}
<header class="masthead" style="background-image: url({% static 'album/img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Home</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-15 mx-auto">

{% if messages %}
  {% for message in messages%}
    <div class="alert alert-{{ message.tags }}">
    {{ message }}
    </div>
  {% endfor%}
{% endif %}   
        {% comment %} <article class="media content-section">
            <img class="img-thumbnail account-imgs" src="">
            <a class="mr-4" href="#"></a>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="">Author</a>
          <small class="text-muted">Date</small>
        </div>
        <h2><a class="article-title" href="">title</a></h2>
        <p class="article-content">content</p>
      </div>
    </article> {% endcomment %}
     {% for post in posts%}
        <article class="media content-section">
            <img class="img-thumbnail account-imgs" src="">
            <a class="mr-4" href="#"></a>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="">{{ post.title }}</a></h2>
          <a  href="{{ post.content }}">{{ post.content }}</a>
        {% comment %} <p class="article-content">{{ post.content }}</p> {% endcomment %}
        <br>
        <br>
      
      </div>
    </article>
{% endfor%}

        
      </div>

    </div>
</div>
{% endblock %}
